@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bluetype: #0F52BA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bluetype: var(--bluetype);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground), var(--bluetype);
  font-family: Arial, Helvetica, sans-serif;
}
